html
    head
        title Docker
        link(rel="stylesheet", href="/static/style.css")
    body
        div
            h1 look Ma! 
            h3 This is a Node website hosted from Docker
            h3= "Container hostname: " + hostname